[user]
	name = Roman (Ky6uk) Nuritdinov
	email = ky6uk.kun@gmail.com
	signingKey = 348B935A
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = simple
	gpgSign = if-asked
[commit]
	gpgSign = true
[rebase]
	autosquash = true
[core]
	compression = 9
